In [1]:
# Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. 
# Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?
import pandas as pd
import random

In [2]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
print(lst)

['robot', 'human', 'human', 'human', 'robot', 'human', 'human', 'human', 'robot', 'human', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'human', 'human', 'human']

In [3]:
data = pd.DataFrame({'whoAmI':lst})
print(data) #data.head()

   whoAmI
0   robot
1   human
2   human
3   human
4   robot
5   human
6   human
7   human
8   robot
9   human
10  robot
11  robot
12  robot
13  robot
14  robot
15  robot
16  robot
17  human
18  human
19  human

In [4]:
# перевести его в one hot вид
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
print(lst)

['human', 'robot', 'robot', 'robot', 'robot', 'human', 'human', 'human', 'human', 'robot', 'robot', 'robot', 'robot', 'robot', 'human', 'human', 'human', 'human', 'human', 'robot']

In [5]:
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  robot
3  robot
4  robot

#### Как выбрать строки по нескольким условиям, используя Pandas loc
#### https://www.codecamp.ru/blog/pandas-loc-multiple-conditions/

In [6]:
data.loc[data['whoAmI'] == 'robot', 'robot'] = '1'
data.loc[data['whoAmI'] != 'robot', 'robot'] = '0'
data.loc[data['whoAmI'] == 'human', 'human'] = '1'
data.loc[data['whoAmI'] != 'human', 'human'] = '0'
print(data)

   whoAmI robot human
0   human     0     1
1   robot     1     0
2   robot     1     0
3   robot     1     0
4   robot     1     0
5   human     0     1
6   human     0     1
7   human     0     1
8   human     0     1
9   robot     1     0
10  robot     1     0
11  robot     1     0
12  robot     1     0
13  robot     1     0
14  human     0     1
15  human     0     1
16  human     0     1
17  human     0     1
18  human     0     1
19  robot     1     0